.project-form
	size(100%, 50px)
	border 1px #ccc solid
	border-radius 5px
	position relative

	input
	button
		display inline-block
		float left
		border none

	&__description
		size(35%, 100%)
		border-right 1px #ccc solid !important

	&__link
		size(20%, 100%)

	&__time
		size(15%, 100%)
		border-left 1px #ccc solid !important
		border-right 1px #ccc solid !important
		font-size 18px

	&__date
		size(15%, 100%)
		float left
		position relative
		padding-left 30px

	.glyphicon-calendar
		position absolute
		top 14px
		left calc(75% + 5px)
		font-size 20px
		color #333


	&__price
		size(5%, 100%)

	&__submit
		float right !important
		size(10%, 100%)

	.projects-menu
		position absolute
		left 35%
		top 0

	.glyphicon-plus
		font-size 14px
