.project-form
	size(100%, 50px)
	border 1px #ccc solid
	border-radius 5px
	position relative

	input
	button
		display inline-block
		float left
		border none

	&__description
		size(45%, 100%)

	&__link
	&__time
		size(20%, 100%)

	&__price
		size(5%, 100%)

	&__submit
		float right !important
		size(10%, 100%)

.projects-menu
	position absolute
	top 0
