div.project-form
	input.form-control.project-form__description(type='text' placeholder='What are you working on?')
	button.btn.btn-default.project-form__link.dropdown-toggle#project-settings(data-toggle='dropdown' aria-expanded='false')
		span.glyphicon.glyphicon-plus
		= ' SELECT PROJECT'
	ul.dropdown-menu.projects-menu(aria-labelledby='project-settings')
		li
			input.form-control(type='text' placeholder='Find project...')
		li
			a(href='#')= 'Action'
		li
			a(href='#')= 'Another Action'
		li
			a.btn(href='#')= 'Create Project'
	button.btn.btn-default.project-form__price
		span.glyphicon.glyphicon-usd
	input.form-control.text-center.project-form__time(type='text' placeholder='{{projectOptions.time}}')
	input.project-form__date.form-control(type='text' ng-model='projectOptions.date' close-text="Close" is-open='dateOptions.isOpened'
		datepicker-popup="{{dateOptions.format}}" datepicker-options="dateOptions.options" ng-click="openCalendar($event)")
	span.glyphicon.glyphicon-calendar
	button.btn.btn-default.project-form__submit(ng-click='clickEvent($event)')= 'SAVE'
